html, body {
  height: 100%;
}
  
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
#mainCanvas {
  position: absolute; 
  z-index: 0; 
  margin: auto; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  background-color: transparent;
}

#p5_loading {
  display:none;
}